:root {
    --theme-red: #ef3724;
    --theme-blue: #2960f7;
    --theme-green: #8cc63f;
    --theme-orange: #fd7e14;
    --theme-purple: #6f42c1;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYYT8L_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcYT8L_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

.fw-medium {
    font-weight: 500;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 300;
}

.fs-large {
    font-size: 21px;
}

.fs-normal {
    font-size: 100%;
}

.fs-small {
    font-size: 14px;
}

a:hover,
a:active {
    color: #2184f5;
}

.img-place {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.img-place>img {
    width: 100%;
    height: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
    z-index: 99;
}

.btn-theme {
    padding: 10px 30px;
    margin: 5px;
    height: unset;
    background-color: #747474;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #fff, 0 3px 9px rgba(0, 0, 0, 0.3);
}

.btn-theme:hover,
.btn-theme:active {
    background-color: #808080;
    color: #fff;
}

.btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}

.btn-theme.no-shadow {
    box-shadow: none !important;
}

.btn-theme-outline {
    padding: 10px 30px;
    margin: 5px;
    height: unset;
    background-color: transparent;
    color: #747474;
    border: 0;
    font-weight: 500;
    box-shadow: 0 0 0 2px #747474;
}

.btn-theme-outline:hover {
    background-color: #747474;
    color: #fff;
}

.btn-theme-outline:focus {
    background-color: #747474;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}

.btn-rounded {
    border-radius: 40px !important;
}

.btn-fab {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 50%;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
}

.btn-fab:focus,
.btn-fab:active {
    box-shadow: none;
}

.btn-fab.btn-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.btn-back_to_top {
    position: fixed;
    bottom: 10px;
    right: 14px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #52565c;
    color: #fff;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.fg-theme-red {
    color: #ef3724 !important;
}

.fg-theme-blue {
    color: #2960f7 !important;
}

.fg-theme-green {
    color: #8cc63f !important;
}

.fg-theme-orange {
    color: #fd7e14 !important;
}

.fg-theme-purple {
    color: #6f42c1 !important;
}

.fg-dark {
    color: #343a40 !important;
}

.fg-white {
    color: #fff !important;
}

.progress-wrapper {
    display: block;
    margin: 10px 0;
}

.progress-wrapper .caption {
    font-weight: 500;
}

.progress {
    margin-top: 5px;
    height: 1.25rem;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #747474;
}

.progress,
.progress-bar {
    border-radius: 30px;
}

.progress-bar {
    font-size: 12px;
    background-color: #747474;
}

.page-item:not(:last-child) .page-link {
    margin-right: 8px;
}

.page-item.active .page-link {
    background-color: #52565c;
    color: #fff;
}

.page-link {
    border: 0;
    padding: 10px 16px;
    background-color: #f2f4fa;
    color: #52565c;
}

.page-link:hover {
    color: #2C2D34;
}

.page-link:focus {
    box-shadow: none;
}

.theme-list {
    position: relative;
    padding-left: 30px;
    list-style: none;
    z-index: 10;
}

.theme-list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    margin: auto;
    width: 1px;
    height: 85%;
    background-color: #cacdd6;
    z-index: -1;
}

.theme-list li {
    display: block;
    margin: 5px 0;
}

.theme-list li::before {
    content: "";
    position: absolute;
    left: 3px;
    margin: 6px 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #888;
}

.sticky {
    top: 0;
    z-index: 999;
}

.navbar-brand {
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-nav .nav-link {
    padding: 14px 10px;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.nice-select::after {
    width: 7px;
    height: 7px;
    margin-top: -5px;
    right: 15px;
}


/* Isotope */
.gridder {
    position: relative;
    display: block;
}

.grid-item {
    display: block;
    float: left;
    margin: 16px 0;
    padding: 0 16px;
}

.grid-item,
.grid-sizer {
    width: 100%;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-item .img-place {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.grid-item .img-caption {
    position: absolute;
    bottom: 0;
    padding: 12px 16px;
    width: 100%;
    background-color: #323131;
    color: #fff;
    z-index: 11;
}

.grid-item .img-caption p {
    font-size: 14px;
    margin-bottom: 0;
}

.grid-item .img-caption p::before {
    content: "\2014";
    margin-right: 5px;
}

@media (min-width: 768px) {

    .gridder .grid-item,
    .gridder .grid-sizer {
        width: 50%;
    }
}

@media (min-width: 992px) {

    .gridder .grid-item,
    .gridder .grid-sizer {
        width: 33.33333%;
    }
}


/* Theme red */
.theme-red .bg-theme {
    background-color: #EF3724 !important;
}

.theme-red .fg-theme {
    color: #EF3724 !important;
}

.theme-red .btn-theme {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-theme:hover {
    background-color: #F04936;
    color: #fff;
}

.theme-red .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}

.theme-red .btn-theme-outline {
    color: #EF3724;
    box-shadow: 0 0 0 2px #EF3724;
}

.theme-red .btn-theme-outline:hover {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-theme-outline:focus {
    background-color: #EF3724;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}

.theme-red .btn-fab {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-fab:hover {
    background-color: #F04936;
    color: #fff;
}

.theme-red .progress {
    box-shadow: 0 0 0 2px #EF3724;
}

.theme-red .progress-bar {
    background-color: #EF3724;
}

.theme-red .theme-list li::before {
    border-color: #EF3724;
}


/* Theme Blue */
.theme-blue .bg-theme {
    background-color: #2960f7 !important;
}

.theme-blue .fg-theme {
    color: #2960f7 !important;
}

.theme-blue .btn-theme {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-theme:hover {
    background-color: #3f71f8;
    color: #fff;
}

.theme-blue .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #2960f7;
}

.theme-blue .btn-theme-outline {
    color: #2960f7;
    box-shadow: 0 0 0 2px #2960f7;
}

.theme-blue .btn-theme-outline:hover {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-theme-outline:focus {
    background-color: #2960f7;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #2960f7;
}

.theme-blue .btn-fab {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-fab:hover {
    background-color: #3f71f8;
    color: #fff;
}

.theme-blue .progress {
    box-shadow: 0 0 0 2px #2960f7;
}

.theme-blue .progress-bar {
    background-color: #2960f7;
}

.theme-blue .theme-list li::before {
    border-color: #2960f7;
}


/* Theme Green */
.theme-green .bg-theme {
    background-color: #8cc63f !important;
}

.theme-green .fg-theme {
    color: #8cc63f !important;
}

.theme-green .btn-theme {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-theme:hover {
    background-color: #94c751;
    color: #fff;
}

.theme-green .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}

.theme-green .btn-theme-outline {
    color: #8cc63f;
    box-shadow: 0 0 0 2px #8cc63f;
}

.theme-green .btn-theme-outline:hover {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-theme-outline:focus {
    background-color: #8cc63f;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}

.theme-green .btn-fab {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-fab:hover {
    background-color: #94c751;
    color: #fff;
}

.theme-green .progress {
    box-shadow: 0 0 0 2px #8cc63f;
}

.theme-green .progress-bar {
    background-color: #8cc63f;
}

.theme-green .theme-list li::before {
    border-color: #8cc63f;
}


/* Theme Orange */
.theme-orange .bg-theme {
    background-color: #fd7e14 !important;
}

.theme-orange .fg-theme {
    color: #fd7e14 !important;
}

.theme-orange .btn-theme {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-theme:hover {
    background-color: #fd8a2c;
    color: #fff;
}

.theme-orange .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #fd7e14;
}

.theme-orange .btn-theme-outline {
    color: #fd7e14;
    box-shadow: 0 0 0 2px #fd7e14;
}

.theme-orange .btn-theme-outline:hover {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-theme-outline:focus {
    background-color: #fd7e14;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #fd7e14;
}

.theme-orange .btn-fab {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-fab:hover {
    background-color: #fd8a2c;
    color: #fff;
}

.theme-orange .progress {
    box-shadow: 0 0 0 2px #fd7e14;
}

.theme-orange .progress-bar {
    background-color: #fd7e14;
}

.theme-orange .theme-list li::before {
    border-color: #fd7e14;
}


/* Theme Purple */
.theme-purple .bg-theme {
    background-color: #6f42c1 !important;
}

.theme-purple .fg-theme {
    color: #6f42c1 !important;
}

.theme-purple .btn-theme {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-theme:hover {
    background-color: #7b54c2;
    color: #fff;
}

.theme-purple .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6f42c1;
}

.theme-purple .btn-theme-outline {
    color: #6f42c1;
    box-shadow: 0 0 0 2px #6f42c1;
}

.theme-purple .btn-theme-outline:hover {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-theme-outline:focus {
    background-color: #6f42c1;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6f42c1;
}

.theme-purple .btn-fab {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-fab:hover {
    background-color: #7b54c2;
    color: #fff;
}

.theme-purple .progress {
    box-shadow: 0 0 0 2px #6f42c1;
}

.theme-purple .progress-bar {
    background-color: #6f42c1;
}

.theme-purple .theme-list li::before {
    border-color: #6f42c1;
}